@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

section,
footer {
  min-height: 100vh;
}

/* HEADER > NAV --- START  */

.header {
  background-color: #428550;
  color: #fff;
}

.header .title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header .title {
  display: flex;
  margin: 0;
  padding: 0rem 0.4rem;
  text-align: left;
}

#img-title {
  display: flex;
  width: 40px;
  height: 30px;
}

.open-nav {
  display: inline;
  height: 1.5rem;
  padding-right: 0.5rem;
}

.open-nav img {
  height: 100%;
}

.header .nav {
  display: none;
}

.header .nav.active {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
}
ul {
  list-style: none;
  position: absolute;
  right: 0;
  width: 100%;
}
li {
  color: #fff;
  background-color: #428550;
  padding: 0.3rem;
  text-align: right;
  width: 100%;
}

.nav-link {
  color: #fff;
  background-color: #428550;
  padding: 0.3rem;
  text-align: right;
  width: 90px;
}

/* HEADER > NAV --- END  */

/* HOME-IMAGE --- START  */

#main-picture {
  align-items: center;
  background-color: #fff;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../media/gif1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  height: calc(100vh - 30px);
  justify-content: center;
  width: 100%;
}

#main-picture .greeting {
  padding: 1rem;
}
@media screen and (max-width: 339px) {
  #main-picture .greeting {
    padding: 1rem;
    font-size: 13px;
  }
}

.button {
  color: black;
  background-color: rgba(255, 255, 255, 0.685);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 7%;
}

.button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.329);
  transition: 1s ease;
}

/* HOME-IMAGE --- END  */

/* INICIO --- START  */

.products {
  background-color: #6a994e;
  padding: 1rem 0rem;
}

.title {
  color: #fff;
  margin: 0%;
  text-align: center;
  font-size: 25px;
  padding: 0.8rem;
}

.products .products-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.product {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 8px rgba(68, 68, 68, 0.6);
  margin: 0.3rem;
  padding: 1rem;
}

.product img {
  height: 176px;
  width: 196px;
}

.product h4 {
  display: block;
  margin: 0px;
  padding: 0.5rem;
  text-align: center;
}

.home {
  align-items: center;
  align-content: space-between;
  background: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 40px);
}

.home img {
  height: auto;
  margin: 1rem;
  padding: 0.3rem;
  width: 90vw;
}

@media screen and (min-width: 768px) {
  section {
    min-height: 300px;
  }
}

.text-industria {
  color: black;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}

.title-home {
  color: black;
  margin: 1rem 0rem 0rem;
  padding: 0.8rem;
  text-align: center;
}

.form {
  background-color: #ccc;
  border-radius: 10px;
  margin: auto;
  padding: 16px;
  width: 300px;
}

.form .field label {
  display: inline-block;
  font-weight: bold;
  margin: 5px 0px 0px;
  width: 72px;
}

.form .field input {
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  display: inline-block;
  margin: 8px 0;
  padding: 3px 10px;
  width: 100%;
}

.form button {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin-top: 32px;
  padding: 8px 16px;
  width: 100%;
}

.form button:hover {
  cursor: pointer;
}

.form .field textarea {
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  display: block;
  height: 100px;
  margin: 8px 0;
  resize: none;
  width: 100%;
}
.field {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* INICIO --- END */

/* FOOTER --- START */

.footer {
  background-color: #fff;
  color: #000;
}

.company-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-info > img {
  height: 200px;
  padding: 0.6rem;
}

.company-info > p {
  padding: 1rem;
}

.location {
  padding: 1rem;
  background-color: #b1a7a6;
}

.location h5 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.location iframe {
  border: none;
  height: 300px;
  width: 100%;
}

.title-final {
  color: #9e9797;
  font-size: 12px;
  padding: 1rem;
  text-align: center;
}

.info-contact {
  display: flex;
}

.info-contact img {
  margin: 0rem 0.5rem 0rem;
  padding: 2.5px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .company-info {
    flex-direction: row;
  }

  .footer {
    min-height: 300px;
  }

  .info-contact {
    display: flex;
    justify-content: flex-end;
  }
}

/* FOOTER --- END */
